/* ref: https://ionicframework.com/jp/docs/theming/colors#new-color-creator */
/* color theme ref: https://material.io/resources/color */
:root,
body.dark {
  --ion-color-main: #558b2f;
  --ion-color-main-rgb: 85, 139, 47;
  --ion-color-main-contrast: #ffffff;
  --ion-color-main-contrast-rgb: 255, 255, 255;
  --ion-color-main-shade: #4b7a29;
  --ion-color-main-tint: #669744;
}

.ion-color-main {
  --ion-color-base: var(--ion-color-main);
  --ion-color-base-rgb: var(--ion-color-main-rgb);
  --ion-color-contrast: var(--ion-color-main-contrast);
  --ion-color-contrast-rgb: var(--ion-color-main-contrast-rgb);
  --ion-color-shade: var(--ion-color-main-shade);
  --ion-color-tint: var(--ion-color-main-tint);
}

:root,
body.dark {
  --ion-color-primary: #ef5350;
  --ion-color-primary-rgb: 239, 83, 80;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #d24946;
  --ion-color-primary-tint: #f16462;
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}
